h1 {
    color: green;
     font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;
     text-align: center;
      border: 2px solid green; 
            padding: 10px; 
}
  .center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
  width: 100%;
  overflow: hidden; 
}

.left {
  float: left;
  width: 50%; 

}

.right {
  float: left;
  width: 50%; 
    
}
body {
  background-color: antiquewhite;
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;

}
.center-links {
    text-align: center;
}

.center-links a {
    display: inline-block;
    margin: 0 10px; 
     border: 2px solid green; 
            padding: 10px; 
    
}
.footer {
     font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}
 